.Rproj.user
.Rhistory
.RData
.Ruserdata
FDPW16a.txt
AllCount2.txt
Arlequin_log.txt
F_Msat_GP_PopN.txt
F_Msat_GP.arp
F_Msat_GP.txt
F_Msat_GP_Out.txt
F_SNP_GP.arp
F_SNP_GP.txt
F_SNP_GP_Out.txt
F_SNP_GP_PopN.txt
Figure2_FrazerPaper.tiff
Figure3_FrazerPaper.tiff
Figure4_FrazerPaper.tiff
Figure5_FrazerPaper.tiff
Figure6_FrazerPaper.tiff
Figure7_FrazerPaper.tiff
Figure8_FrazerPaper.tiff
FigureS1_FrazerPaper.tiff
FigureS2_FrazerPaper.tiff
FigureS3_FrazerPaper.tiff
FraserGenepopHWP_LocusExactP.txt
FraserNewNA.txt
FraserRBL1.txt
FraserRBL2.txt
FraserRBL3.txt
FraserRBL4.txt
FraserRTE1.txt
FraserRTE2.txt
FraserTableS1.csv
FrazerAlleles.txt
FrazerLake.outfile
FrazerNewFBM1.txt
FrazerNewFBM1_M.txt
FrazerNewFBM2.txt
FrazerNewFBM2_M.txt
FrazerNewFBM3.txt
FrazerNewFBM3_M.txt
FrazerNewFBM4.txt
FrazerNewFBM4_M.txt
FrazerNewFTM1.txt
FrazerNewFTM1_M.txt
FrazerNewFTM2.txt
FrazerNewFTM2_M.txt
FrazerNewFTM3.txt
FrazerNewFTM3_M.txt
FrazerNewFTM4.txt
FrazerNewFTM4_M.txt
FrazerNewFTM5.txt
FrazerNewFTM5_M.txt
FrazerNewFTM6.txt
FrazerNewFTM6_M.txt
FrazerNewLociBottleneck.txt
FrazerNewRBL1.txt
FrazerNewRBL2.txt
FrazerNewRBL3.txt
FrazerNewRBL4.txt
FrazerNewRTE1.txt
FrazerNewRTE2.txt
FrazerTable1_old.txt
FrazerTransplants.csv
KATM_Fst.csv
K_Msat_GP.arp
K_Msat_GP.txt
K_Msat_GP_Out.txt
K_Msat_GP_PopN.txt
K_SNP_GP.arp
K_SNP_GP.txt
K_SNP_GP_Out.txt
K_SNP_GP_PopN.txt
KodSockFrazerPaper_109_old.txt
KodiakCollectionsv2.csv
KodiakGPFraser.arp
KodiakGPFraser.gen
KodiakGPFraser.txt.DIS
KodiakGPFrazer.txt
KodiakGPFrazer.txt.INF
KodiakGPFrazerHW.txt
KodiakGPFrazerOut.txt
KodiakSock102_str.txt
KodiakSock100_str.txt
KodiakSock101_str.txt
Table2_FrazerPaper.txt
TableS1_FrazerPaper.csv
TableS2_FrazerPaper.csv
TableS2_FrazerPaper.txt
TableS3_FrazerPaper.csv
KodiakSockeye_DiversityTest.csv
KodiakSockeye_DiversityTest2.csv
Kodiak_Fra_GP_NoU1004_PopN.txt
Kodiak_Fra_GP_NoU1004.arp
Kodiak_Fra_GP_NoU1004.txt
Kodiak_GtestPW_genepop.txt
Kodiak_GtestPW_genepop_sub_old.txt
Kodiak_GtestPW_mtDNA_genepop.txt
Kodiak_GtestPW_mtDNA_genepop_sub.txt
Kodiak_Gtest_genepop.txt
Kodiak_Gtest_mtDNA_genepop.txt
Kodiak_Kar_GP_NoU1004.arp
Kodiak_Kar_GP_NoU1004.txt
Kodiak_Kar_GP_NoU1004_PopN.txt
Kodiak_Msat_Fstat.dat
Kodiak_Msat_GP.txt
Kodiak_Msat_GP_PopN.txt
Kodiak_Nuc_Fstat.dat
Kodiak_Nuc_GP.arp
Kodiak_Nuc_GP.txt
Kodiak_Nuc_GP_PopN.txt
Kodiak_NucmtDNA_GP.arp
Kodiak_NucmtDNA_GP.txt
Kodiak_NucmtDNA_GP.txt.2G2
Kodiak_NucmtDNA_GP_Fra.arp
Kodiak_NucmtDNA_GP_Fra.txt
Kodiak_NucmtDNA_GP_Kar.arp
Kodiak_NucmtDNA_GP_Kar.txt
Kodiak_NucmtDNA_GP_PopN.txt
Kodiak_NucmtDNA_GP_PopN_Fra.txt
Kodiak_NucmtDNA_GP_PopN_Kar.txt
Kodiak_NucmtDNA_GP_PopN_Red.txt
Kodiak_NucmtDNA_GP_Red.arp
Kodiak_NucmtDNA_GP_Red.txt
Kodiak_Red_GP_NoU1004.arp
Kodiak_Red_GP_NoU1004.txt
Kodiak_Red_GP_NoU1004_PopN.txt
Kodiak_SNP_Fstat.dat
Kodiak_SNP_GP.txt
Kodiak_SNP_GP_PopN.txt
Kodiak_mtDNA_Fstat.dat
Kodiak_mtDNA_GP.arp
Kodiak_mtDNA_GP.txt
Kodiak_mtDNA_GP_PopN.txt
RK_SNP_GP.arp
RK_SNP_GP.txt
RK_SNP_GP.xml
RK_SNP_GP_Out.txt
RK_SNP_GP_PopN.txt
R_Msat_GP.arp
R_Msat_GP.txt
R_Msat_GP_Out.txt
R_Msat_GP_PopN.txt
R_SNP_GP.arp
R_SNP_GP.txt
R_SNP_GP_Out.txt
R_SNP_GP_PopN.txt
fdist2_simOut.txt
fdist2_ObsOut_F_old.txt
fdist2_ObsOut_K_old.txt
fdist2_ObsOut_RK.txt
fdist2_ObsOut_R_old.txt
StructureResults.txt
data
fichier.in
microbov.rda
cmdline.txt
randseed.txt
